@using TemperatuurDeken.Models.Viewmodels
@model List<DayViewModel>
@{
    DateOnly? previousDate = null;
}

<div style="text-align:center">
    <h2 class="TitelTemperatuurdeken">Temperature blanket 2024</h2>
    <div class="OverzichtActieKnoppen">
        <form method="get" asp-action="Index">
            <input class="OverzichtActieKnop" type="submit" value="Show all"/>
        </form>
        <form method="get" asp-action="HideDoneDays">
            <input class="OverzichtActieKnop" type="submit" value="Hide done days" />
        </form>
        <form method="get" asp-controller="Blanket" asp-action="PreviewBlanket">
            <input class="OverzichtActieKnop" type="submit" value="Preview blanket" />
        </form>
        <form method="get" asp-controller="Home" asp-action="ShowPeriod">
            <input class="Zoekveld" type="search" placeholder="Find period (ex: 12-2|16-4)" name="input" />
        </form>
    </div>

</div>
<div class ="OverzichtTabel">
    <table align="center" >
        <thead>
            <tr>
                <td><h5>Date</h5></td>
                <td colspan="2" style="margin-left:40px;"><h5>Temperature</h5></td>
                <td></td>
                <td><h5>Color</h5></td>
                <td id="GemaaktTitel"><h5>Done</h5></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var day in Model)
            {
                if (previousDate == day.Date)
                {
                    <tr>
                        <td>End of month</td>
                        <td colspan="3"><input type="hidden" asp-for="@day.DayId" /></td>
                        <td class="@day.Color">@day.Color</td>
                        <form method="post" asp-action="Update" asp-route-id="@day.DayId" onsubmit="return">
                            @if (day.Done)
                            {
                            <td class="GemaaktCheckbox"><input type="checkbox" checked /></td>
                            }
                            else
                            {
                            <td class="GemaaktCheckbox"><input type="checkbox" /></td>
                            }
                        <td><input class="UpdateKnop" type="submit" value="Update" /></td>
                        </form>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="width: 120px">@day.Date</td>
                        <form method="post" asp-action="AddTemperature" asp-route-day="@day">
                        <td><input type="hidden" asp-for="@day.DayId" /></td>
                        <td style="width: 160px"><input style="width:110px;" asp-for="@day.NewTemperature" value="@day.OldTemperature" /></td>
                        <td style="width: 220px"><input class="TemperatuurupdateKnop" type="submit" value="Add temperature" /></td>
                        </form>
                        <td class="@day.Color">@day.Color</td>
                        <form method="post" asp-action="Update" asp-route-id="@day.DayId" onsubmit="return">
                            @if (day.Done)
                            {
                            <td class="GemaaktCheckbox"><input type="checkbox" checked /></td>
                            }
                            else
                            {
                            <td class="GemaaktCheckbox"><input type="checkbox" /></td>
                            }
                        <td><input class="UpdateKnop" type="submit" value="Update" class="" /></td>
                        </form>
                    </tr>
                }
                previousDate = day.Date;
            }
        </tbody>
    </table>
</div>